<!DOCTYPE html>
<html data-ng-app>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Simon Says</title>
</head>
<body gameCtrl ng-keyup="ctrl.onKeyUp($event)">
    <div class="header" ng-click="ctrl.start()">Start</div>
    <div id="buttons">
        <div ng-repeat="button in ctrl.buttons" id="{{button.color}}"  ng-mousedown="ctrl.onClick(button)" ng-mouseup="ctrl.inactivateAll()" ng-class="{'active' : button.active}"></div>
    </div>
<script src="../packages/shadow_dom/shadow_dom.min.js"></script>
<script type="application/dart" src="main.dart"></script>
<script type="text/javascript" src="../packages/browser/dart.js"></script>
</body>
</html>