
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: x-large;
    z-index: 99;
    cursor: pointer;
    outline: none;
}

#check {
    margin: auto;
    position: absolute;
    height: 30%;
    width: 30%;
    text-align: center;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size: 20em;
    font-weight: bold;
    color: seagreen;
    z-index: 9999;
}

#buttons {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#buttons > div {
    height: 100%;
    width: 25%;
    cursor: pointer;
    float: left;
    position: relative;
    padding: 0;
}

#buttons > div.active {
    z-index: 4;
}

#buttons > div#blue {
    background: darkblue;
}

#buttons > div#blue.active {
    background: blue;
}

#buttons > div#green {
    background: darkgreen;
}

#buttons > div#green.active {
    background: limegreen;
}

#buttons > div#yellow {
    background: darkgoldenrod;
}

#buttons > div#yellow.active {
    background: yellow;
}

#buttons > div#red {
    background: darkred;
}

#buttons > div#red.active {
    background: red;
}

/** Styling inspired by http://stackoverflow.com **/
kbd {
    opacity: 0.7;
    background-color: #f7f7f7;
    color: #333;
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}

#header > kbd {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
}

#buttons kbd {
    position: absolute;
    float: left;
    bottom: 0;
}